.Container_Abaut{
    display: flex;
    margin-top: 10px;
    gap: 20px;
    background-color: #FAF7F7;
    box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.75);
    
}
.items{
    flex-direction: row;
    background-color: #FAF7F7;
    border: 2px;
    padding: 50px;
    
}
.Title{
    
    display: flex;
    color: #E4652E;
    font-family:'Finlandica', 'sans-serif' ;
   
    font-size: 30px;
    padding-bottom: 30px;
    
}

.texto_about{
   
    font-family:'Fredoka', sans-serif;

}



