@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&display=swap');
.Container_Proyect{
    display: flex;
    gap:5px;
    flex-wrap: wrap;
    margin-top: 10px;
   
    background-color: #FAF7F7;
    box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.75);
    
}
.Containers_Cards{
    display: flex;
    padding: 5px;
    gap: 10px;
    flex-wrap: wrap;
    height: 100%;

}
.Proyectos{
    display: flex;
    color: #E4652E;
    padding: 10px;
    font-family: "Finlandica", sans-serif;
}

.Card{
    display: flex;
    justify-content: space-evenly;
    
    width: 100%;
    box-sizing: border-box;
    height: auto;
    border-radius: 10px;
    flex-wrap: wrap;
    align-items: center;
     
    
  
}
.Container_link{
    display: flex;
    padding: 5px;
    font-size: 15px;

}
.Container_link:hover{
    color: blue;
}
.Container_img{
    width: 250px;
    object-fit: contain;
    padding: 5px;
    gap:10px;
}
.Title h3{
    display: flex;
    align-items: center;
    gap:10px;
    font-family: "Finlandica", sans-serif;
    
 
    
}
.description{
    display: flex;
    width: 300px;
   text-align: justify;    
}
.Container_lenguaje{
    display: flex;
    gap:5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
.container_items{
    display: flex;
    
    
    padding: 5px;
  
    justify-content: center;
    
    color: #E4652E;
}
.Container_info{
    display: flex;
    flex-direction: column;
    color: #2f2929;
    font-family:'Finlandica', 'sans-serif' ;

   
}