@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&display=swap');

.Container_contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #FAF7F7;
    color: #2f2929;
    box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.75);
    margin-top: 10px;
   
}
h1{
    display: flex;
    justify-content: center;
    margin: 30px;
    font-family: "Finlandica", sans-serif;
}

.Container_form{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
 
    
}
.contact{
    display: flex;
    background-color: #A9B1FB;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap:20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    
}
.info_contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.info_contacto h1{
    color: #E4652E;
}

.info_input{
    display: flex;
    gap:20px;
    width: 100%;
     justify-content: space-between;
}
.info_info{
    display: flex;
    gap: 8px;
}
.info_input input{
    display: flex;
    border: 1px solid;
    border-radius: 6px;
}
.text_tarea{
    display: flex;
    border: 1px solid;
    width: 180px;
    border-radius: 6px;
    gap:10px;
}
.boton{
    display: flex;
    border: 1px solid;
    border-radius: 5px;
    width: 60px;
    justify-content: center;
}
.msg{
    color: red;
}