.Container_footer{
 display: flex;
 flex-direction: column;
 gap: 10px;

 justify-content: center;
 align-items: center;
   
 height: 200px;
}
.HR{
    margin-top: 20px;
    display: inline-block;
    border-color: rgb(138, 11, 11);
    width: 80%;
    text-align:center;

}
p{
    display: flex;
    text-align: center;
    
}