.Container-Menu{
   display: flex;
    background-color: #323F6F;
    align-items: center;
    justify-content: space-between;
}
.Menu{
    display: flex;
    justify-content: center;  
    width: 100%;
    color: #fff;   
}

.Menu_items{
    display: flex;
    gap: 20px;
       
   
}
.Menu_list{
 display: flex;
 align-items: center;
 justify-content: center;
 
}

.menu_link{
    display: flex;
   align-items: center;
}
.menu_link:hover{
    border-bottom: 1px solid rgb(255, 255, 255);
    color: #E4652E;

}
.btn-resume{
    transition: background-color .2s;
}
.btn-resume:hover{
    color: #E4652E;


}
.btn{
    
    border: none;
    padding: .75em 1.2em;
    cursor: pointer;
}
.btn-open{
    display: none;
}
.btn-close{
    font-size: 30px;
    width: 35px;
    height: 35px;
    padding: .2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position:absolute;
    top: 5px;
    right: 5px; 
    display: none;
      

}
.btn-close:hover{
    opacity: .8;
    background-color: red;
}



@media(max-width: 767px){
    .Menu{
        flex-direction: column;
        gap:50px;
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        bottom: 59%;
        justify-content: space-evenly;
        transition: lef .5s;
        text-align: center;
        color: red;
        z-index: 1;
    }

    .show_menu{
     left: 0;
    }
    .Menu_items{
         flex-direction: column;
         justify-content: space-between;
         background-color: #323F6F;
         list-style: none;
         gap:20px;
         align-items: center;
      
       
    }
    .menu_link{
        color: rgba(255, 0, 0, 0.408);
        font-size: 18px;
        font-weight: 900px ;
        text-decoration: none;
        transition: color .2s;

    }
    .menu_link:hover{
        color: #E4652E;
    }
    .btn-open{
        display:flex;
    }
    .btn-close{
        display:flex;
    }
    .btn-resume{
        border: 2px solid  #fff;
        font-weight: 700;
        width: max-content;
        display: block;
        margin: 0 auto;
        transition: background-color .5s;
        margin-bottom: 7px;
        color: #ffffff;
    }
    .menu_link{
        color: #fff;
    }
    .btn-resume:hover{
        background-color: #ffffff;
    
    }
}